body {
    font-family: 'Roboto', sans-serif;
    /*font-size: 14px;*/
    position: relative;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.page-header {
    margin-top: 100px;
}

.navbar {
    /*height: 60px;*/
}

.author-name {
    margin-top: 10px;
}

.navbar-default {
    /*background-color: #db282e;*/
}

.navbar-default .navbar-nav > li > a {
    /*color: #fff;*/
}

#close_initial_post {
    margin-bottom: 19px;
}

.form-post-textarea {
    margin-top: 15px;
}

/*Showing posts*/
/*Posts*/

.pinned-happening-title {
    text-transform: uppercase;
    color: #db282f;
    font-size: 12px;
}

.posts {
    list-style: none;
    padding-left: 0;
}

.post {
    border: 1px solid #eeeeee;
    background: #fbfbfb;
    padding: 0;
    /*margin-top: 20px;*/
    position: relative;
    clear: both;
}

.short-message {
    width: 100%
}

.posted-by .author-name a {
    font-size: 14px;
    color: #db282e;
}

.posted-by .highlighted {
    color: #db282e;
    text-transform: none;
}

.post-title {
    margin-bottom: 10px;
}

.post-title a {
    color: #444444;
    font-size: 16px;
}

.read-more a {
    color: #db282e;
    font-style: italic;
}

/** Likes & comments*/
.like-comment-count .posts-like {
    margin-top: 10px;
}

.like-comment-count .posts-like .likes-count-outer-wrapper, .posts-like .comments-count-outer-wrapper {
    display: inline-block;
}

.like-comment-count .posts-like a {
    cursor: pointer;
    color: #b0aeaf;
    text-decoration: none;
}

.like-comment-count .posts-like .likes-count-outer-wrapper a, .posts-like .likes-count-outer-wrapper .count, .posts-like .comments-count-outer-wrapper a, .posts-like .comments-count-outer-wrapper .count {
    color: #b0aeaf;
}

/** Actual Comments */
.comment-like-wraper {
    margin-bottom: 15px;
    padding-right: 10px;
}

.comment-like-wraper .posts-like {
    border-bottom: 1px solid #cccccc;
    background: #f2f2f2;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}

.liked-this {
    display: inline-block;
    color: #E95420;
}

.liked-this a {
    /*color: #db282e;*/
}

.comments-container .comment-listing-wrapper {
    padding-bottom: 0;
}

.comments-container {
    padding: 10px;
    background: #f2f2f2;
    width: 100%;
}

.load-more-comment {
    font-size: 14px;
}

.load-more-comment a {
    text-decoration: underline;
    cursor: pointer;
    color: #db282e;
    text-decoration: none;
}

.comment-items {
    padding: 0 0 5px 0;
}

.comments-container .comment {
    padding: 5px 0 10px 5px;
}

.comments-container .comment .post-image img {
    margin-right: 10px;
}

.comments-container .post-image img {
    width: 35px;
    height: 35px;
    border: 1px solid #000;
    margin-right: 10px;
    margin-top: 5px;
    float: left;
}

.comments-container .comment .comment-author {
    font-size: 14px;
}

.comment-time-ago {
    color: #b0aeaf;
    font-size: 12px;
}

.comment-body-container {
    height: 0;
}

.comments-container .comment .comment-body-container .comment-body {
    font-size: 14px;
}

/** Write a comment */
.comments-container.comment-form {
    border-top: 2px solid #fff;
}

.comments-container.comment-form form {
    background: transparent;
    padding: 5px;
}

.comments-container.comment-form .post-image img {
    margin-top: 0;
}

.comments-container .post-image img {
    width: 35px;
    height: 35px;
    float: left;
    border: 1px solid #000;
    margin-right: 10px;
    margin-top: 5px;
}

.comments-container .input-group {
    margin-bottom: 0;
}

/*Font color*/
.comment-like-color {
    color: #E95420;
}

.comment-like-color i:hover {
    color: #E95420;
}

.like-button:hover {
    text-decoration: none;
}

.like-button i {
    color: #868e96;
}

.like-button i:hover {
    color: #E95420;
    text-decoration: none;
}

.like-button i::after {
    color: #E95420;
}

.like-comment i {
    color: #868e96;
}

.like-comment i:hover {
    color: #E95420;
}

.text-date {
    display: block;
}

.text-time {
    display: block;
    font-size: 12px;
}

.article-content img {
    padding: 0.25rem;
    max-width: 100%;
    height: auto !important;
}

.one-date {
    background: #E95420;
    color: white;
}

.one-img-thumb {
    padding: 0;
    background-color: #fff;
    border: 0;
    border-radius: 0;
}

.img-modal {
    border: none;
    border-radius: 0;
    height: 50px;
}

.unplublished-posts {
    border: 1px solid #e3e3e3;
}

.unpublished-posts h6 {
    padding: 10px 0 10px 0;
    margin-top: 0;
}

.unpublished-posts-listing {
    list-style: none;
    padding: 0;
}

.unpublished-posts-listing li {
    margin-bottom: 20px;
}

.one-post-action {
    margin: 5px 5px 0 0;
}

/** New */
.sidebar-widgets {
    /*padding-bottom: 120px;*/
}

.widget-wrap {
    background: #fbfbfb;
    /*padding: 20px 0px;*/
    border: 1px solid #eee;
}

.widget-wrap .single-sidebar-widget {
    margin: 30px 30px;
    /*padding-bottom: 30px;*/
    border-bottom: 1px solid #eee;
}

.widget-wrap .user-info-widget {
    text-align: center;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.article-content {
    width: 99.3%;
}

.meta-details {
    text-align: right;
    margin-top: 25px;
}

@media all and (min-width: 767px) {
    .single-post .meta-details {
        text-align: left;
    }
}

.single-post .user-name a, .single-post .date a, .single-post .view a, .single-post .comments a {
    color: #777777;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.lnr{
    font-weight: 900;
    color: #222;
}